[user]
	name = Luca Martini
	email = luca.martini82@gmail.com
	github = lucamartini
[color]
	ui = true
	status = auto
	branch = auto
[alias]
	co = checkout
	st = status
[push]
	default = simple
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
	helper = cache --timeout 21600
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
